* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.main-screen-container {
  min-height: 100vh;
  padding-top: 50px;
}

/* footer style start */

.footer-container {
  width: 100%;
  background-color: black;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.footer-sections {
  height: 300px;
  width: 24.5%;
}

.map {
  height: 100%;
  width: 100%;
}

.footer-sections .title {
  text-align: center;
  color: #fff;
  padding: 0.6rem;
}

.footer-sections ul {
  list-style: none;
  text-align: center;
}

.footer-sections ul li a {
  text-decoration: none;
  color: white;
}
/* footer style end*/
